<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineScopeProyect"
        tools:targetApi="31">
        <activity
            android:name=".Busqueda"
            android:exported="false"
            android:label="@string/title_activity_busqueda"
            android:theme="@style/Theme.CineScopeProyect" />
        <activity
            android:name=".DetallePelicula"
            android:exported="false"
            android:label="@string/title_activity_detalle_pelicula"
            android:theme="@style/Theme.CineScopeProyect" />
        <activity
            android:name=".MiListaActivity"
            android:exported="false"
            android:label="@string/title_activity_mi_lista"
            android:theme="@style/Theme.CineScopeProyect" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CineScopeProyect" />
        <activity
            android:name=".HistorialActivity"
            android:exported="false"
            android:theme="@style/Theme.CineScopeProyect" />
        <activity
            android:name=".FavoritosActivity"
            android:exported="false"
            android:theme="@style/Theme.CineScopeProyect" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:theme="@style/Theme.CineScopeProyect" /> <!-- ✅ SPLASH: es la primera pantalla que se abre -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity ya NO tiene el intent-filter MAIN/LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>